{{!< default}} {{#post}} 
<style>  body { background-image: linear-gradient(0deg,#efefef 65%,#fff) };</style> 
<article data_slug="{{slug}}" class="{{post_class}} u-shadow" {{#if primary_tag.accent_color}}
    style="--tag-color: {{primary_tag.accent_color}};" {{/if}}>

    <header class="gh-article-header gh-canvas">
        <h1 class="gh-article-title">{{title}}</h1>
    </header>

    <div class="gh-outer">
        <main class="site-main gh-inner" style="padding-bottom: 20px;">



            {{#if feature_image}}
            {{#if featured}}
            <img class="post-image u-object-fit" src="{{img_url feature_image}}" alt="{{title}}" loading="lazy">
            {{else}}
            <figure class="post-media">
                <div class="u-placeholder same-height rectangle">
                    <img class="post-image u-object-fit" srcset="{{img_url feature_image size=" s"}} 400w, {{img_url
                        feature_image size="m" }} 750w, {{img_url feature_image size="l" }} 960w, {{img_url
                        feature_image size="xl" }} 1140w, {{img_url feature_image size="xxl" }} 1920w" sizes="600px"
                        src="{{img_url feature_image size=" l"}}" alt="{{title}}" loading="lazy">
                </div>
            </figure>
            {{/if}}
            {{/if}}
            <div class="gh-content gh-canvas">
                {{content}}

            </div>
        </main>
    </div>
    </article>
    {{/post}}
    <div class="site-content gh-outer">
    <div class="site-main gh-inner">
        <div class="post-feed gh-feed products">

        </div>

</div>

    </div>

    <script>
        const cartEls = document.querySelectorAll('.addtocart');

        cartEls.forEach(element => {
            element.addEventListener('click', function handleClick(event) {
                console.log(event.target.getAttribute("data_slug"));
                addToCart(event.target.getAttribute("data_slug"))

            });
        });

    </script>